@import '../variables.scss';

.category {
  background: linear-gradient(0deg, $color-gradient, $color-light);
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.5);
  padding: $spacing-medium $spacing-heavy;

  &__title {
    text-align: center;
    color: $color-primary;
    font-size: 36px;
  }

  &__subtitle {
    width: 80%;
    margin: $spacing-medium auto;
    font-style: italic;
  }

  &__content {
    width: 80%;
    margin: $spacing-medium auto;
  }
}
