@import '../variables.scss';

.section {
  &__title {
    color: $color-secondary;
  }

  &__picture {
    width: 260px;
    height: 260px;
    padding: 10px;
  }

  &__content {
    color: $color-dark;
    font-size: 18px;
  }
  
  &__button {
  
  }
}
