@import '../variables.scss';

section {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
h4 {
  color: $color-secondary;
}
img {
  width: 260px;
  height: 260px;
  padding: 10px;
}
p {
  color: $color-dark;
  font-size: 18px;
}
button {

}
