@import '../variables.scss';

.menu {
  width: 1200px;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
}
li {
  display: inline-block;
    position: relative;
}
a {
  font: 15px;
  padding: 20px 22px;
  text-decoration: none;
}
