@import '../variables.scss';

.menu {
  @media screen and (max-width: 780px) {
    display: none;
  }
  background-color: $color-light;
  list-style-type: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-inline-start: 0;

  &__entry {
    display: inline-block;
    padding: $spacing-light $spacing-medium;
    margin: 0 auto;
  }

  &__link {
    color: $color-dark;
    text-decoration: none;
    vertical-align: middle;
  }
}
