@import '../variables.scss';

.menu {
  background-color: $color-primary;
  list-style-type: none;
  text-align: right;

  &__entry {
    display: inline-block;
  }

  &__link {
    font-size: 15px;
    text-decoration: none;
    color: $color-light;
    padding: 10px 11px;
    vertical-align: middle;
    background-color: $color-secondary;
  }
}
