$color-primary: #79589F;
$color-secondary: #27A4AD;
$color-light: #FFFFFF;
$color-dark: #0D0007;
$color-primary-light: #069ECC;
$color-gradient: #F7F7F7;
$spacing-light: 10px;
$spacing-medium: 20px;
$spacing-heavy: 40px;