@import './variables.scss';

.about {
  &__content {
    margin: $spacing-medium auto;
  }

  &__options {
    text-align: center;
  }

  &__label {
    display: inline-block;
    color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 4px;
    margin: 0 $spacing-light;
    padding: $spacing-light $spacing-light;
  }
}