@import './variables.scss';

.about {
  &__content {
    margin: $spacing-medium auto;
  }

  &__options {
    text-align: center;
  }

  &__label {
    @media screen and (max-width: 780px) {
      margin: 5px $spacing-light;
    }
    display: inline-block;
    color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 4px;
    margin: $spacing-medium $spacing-light;
    padding: $spacing-light $spacing-light;
  }
}