@import './variables.scss';

.buttonsContainer {
  color: $color-light;
  list-style-type: none;
  margin: $spacing-heavy auto;
  text-align: center;
  border-radius: 4px;

  &__entry {
    display: inline-block;
    background-color: $color-primary;
    margin: 0 $spacing-light;
    padding: $spacing-light $spacing-medium;
    border-radius: 6px;
  }
}
