@import './variables.scss';

.labelsContainer {
  color: $color-primary;
  list-style-type: none;
  margin: $spacing-heavy auto;
  text-align: center;
  padding-inline-start: 0;

  &__entry {
    display: inline-block;
    border: 2px solid $color-primary;
    margin: 0 $spacing-light;
    padding: $spacing-light $spacing-light;
  }
}
