@import './variables.scss';

.smallCard {
  margin: $spacing-heavy auto;
  display: flex;

  &__aside {
    width: 35%;
  }

  &__image {
    text-align: right;
    margin-right: $spacing-heavy;
    img {
      border-radius: 4px;
      max-width: 250px;
    }
  }

  &__body {
    color: $color-dark;
    width: 65%;
  }

  &__theme {
    margin: $spacing-medium 0;
  }

  &__theme-title {
    font-size: 24px;
    color: $color-primary;
  }

  &__theme-content {
    margin: $spacing-light 0;
  }

  &__button {
    background-color: $color-primary;
    color: $color-light;
    font-size: 16px;
    padding: $spacing-light $spacing-medium;
    border-radius: 6px;
  }
}